body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#0f0f0f,#d9ff00);
    text-align:center;
    color:white;
}

h1{
    margin-top:15px;
}

video{
    width:90%;
    max-width:350px;
    border-radius:20px;
    margin-top:10px;
}

.controls{
    margin:10px;
}

button, select, input{
    padding:8px;
    margin:5px;
    border-radius:10px;
    border:none;
}

button{
    background:blue;
    color:white;
    cursor:pointer;
}

.strip{
    background:white;
    padding:15px;
    display:inline-block;
    margin-top:20px;
    border-radius:15px;
}

.strip img{
    width:250px;
    display:block;
    margin-bottom:10px;
    border-radius:15px;
}
